# Configuración del servidor
PORT=6000

# URL de conexión a PostgreSQL (reemplaza con tus credenciales reales)
DATABASE_URL= postgresql://neondb_owner:npg_8qDyupJ2KfIV@ep-icy-grass-ahc6ps6n-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

